<div id="qima">
    <div class="content">
        <div id="currentStatus" class="mb20">
            <span>Current status is
                <b><i>{{currentStatus}} </i></b></span>
            <button (click)="toCreate()">createStatus</button>
        </div>

        <div id="updateStatus" class="mb20">
            <span>Update status: </span>
            <select (change)="toUpdate()" #updateSelect>
                <option value="Create Status" selected disabled hidden>Select a status</option>
                <option *ngFor="let item of relation" [value]="item.name">{{item.name}}</option>
            </select>
            <span>?(forward to update page directly after selection)</span>
        </div>

        <div id="transferred" class="mb20">
            <span>Could be transferred to
                <select (change)="isTransferr('is')" #transferr>
                    <option value="SelectValue" selected disabled hidden>Select a status</option>
                    <option *ngFor="let item of relation" [value]="item.name">{{item.name}}</option>
                </select>
                ?</span>
            <br />

            <span>
                <span *ngIf="isTrans">Yes</span>
                <span *ngIf="!isTrans">No</span>
                can
                <span *ngIf="!isTrans">not</span>
                be transferred to
                <b><i> {{currentStatus}} </i></b>
                from
                <b><i> {{transferrName}}</i></b>
            </span>
        </div>

        <div id="shortestRoute" class="mb20">
            <span>How could be transferred to
                <select (change)="isTransferr('how')" #shortest>
                    <option value="SelectValue" selected disabled hidden>Select a status</option>
                    <option *ngFor="let item of relation" [value]="item.name">{{item.name}}</option>
                </select>
                ?</span>
            <br />
            <span *ngIf="!isTrans"><b>Can not be transferred to {{currentStatus}}</b></span>
            <div *ngIf="isTrans">
                <span *ngFor="let status of aviableStep">
                    =>
                    <b><i>{{status}}</i></b>
                </span>
            </div>
            <br />
        </div>

        <div id="transferrTo" class="mb20">
            <span>Transferred to
                <select (change)="changCurrentStatus()" #changeCurrent>
                    <option value="SelectValue" selected disabled hidden>Select a status</option>
                    <option *ngFor="let item of relation" [value]="item.name">{{item.name}}</option>
                </select>
                ?</span>
            <br />

            <span *ngIf="!isTrans">
                Can not be transferred to
                <b><i>{{transferrName}}</i></b>
            </span>
        </div>
    </div>
</div>