<div id="createPage">
    <div class="mb20" (click)="toMain()"><a class="pointer">main page</a></div>
    
    <div class="mb20">
        <b>Status Name:</b>
        <input (input)="nameInput()" type="text" placeholder="new status name" [(ngModel)]="name">
    </div>

    <div class="mb20">
        <b>Could be transferred to:</b>
        <br/>
        <i class="gray">按ctrl进行多选操作（Press ctrl for multiple selection）</i>
        <br/>
        <select multiple #selectRef>
            <option *ngFor="let item of relation">{{item.name}}</option>
        </select>
    </div>

    <div class="mb20">
        <button (click)="addStatus()">Create Status</button>
        <b>(create a new status and update the page elements with the new one, status should not be duplicated based on name)</b>
    </div>
</div>